body {
    background-color: white;
}

h1{
    float: center;
    margin: -2rem;
    font: arial;
    font-size: 30px;
}

p, a{
    font: arial;
}

h3, h4, h5{
    font: arial;
}

.jumbotron{
    background-color: black;
    color: white;
    height: 4rem;
}

.searchCol{
    height: 100vh;
    background-color: white;
}